h1{
    color: #850E35;rgba(212, 0, 255, 0.61);
    }
    h2{
    color: #850E35;rgb(42, 3, 150);
    }
    h5{
    color: #EE6983;rgb(115, 2, 117);
    }
    ol{
        color: #EE6983;
    }
    tbody{
        color: #3b091a;
    }